venv
.idea
*csv
/data/lunyu
/data/shiji
/data/zhongyong
__pycache__
*.pyc
*.swp
*.log
*.ipynb
*.py.class
.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/
# SpecStory explanation file
.specstory/.what-is-this.md
